In [7]:
import pandas as pd
import requests

In [15]:
import pandas as pd
import requests

url = "https://fbref.com/en/comps/9/2023-2024/shooting/2023-2024-Premier-League-Stats"

# Fetch the webpage
response = requests.get(url)

# Assuming the table has a class name 'stats_table' (replace with the actual class)
tables = pd.read_html(response.content, attrs={"class": "stats_table"})

# Assuming there's only one table (check 'tables' length if needed)
print(len(tables))
df = tables[1]

# Process the DataFrame (clean, transform data)
# ...

print(df.head())  # Display the first few rows of the DataFrame

2
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard            \
               Squad               # Pl                90s      Gls   Sh  SoT
0         vs Arsenal                 25               38.0       28  320   80
1     vs Aston Villa                 31               38.0       57  453  171
2     vs Bournemouth                 30               38.0       66  527  187
3       vs Brentford                 28               38.0       65  546  182
4        vs Brighton                 30               38.0       60  462  159

                                                     Expected                \
   SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist  FK PK PKatt       xG  npxG npxG/Sh
0  25.0   8.42   2.11  0.08  0.33  18.3  12  2     3     27.9  25.7    0.08
1  37.7  11.92   4.50  0.12  0.33  15.7  13  1     2     59.9  58.2    0.13
2  35.5  13.87   4.92  0.11  0.32  16.6   9  6     7     58.1  52.5    0.10
3  33.3  14.37   4.79  0.12  0.35  17.8  10  2     2     56.0  54.4    0.10
4  34.4  12.16   4.18  0.12  0.34  16.3  15  6     6     55.4  50.7    0.11


  G-xG np:G-xG
0  0.1     0.3
1 -2.9    -2.2
2  7.9     7.5
3  9.0     8.6
4  4.6     3.3

In [9]:
url = "https://fbref.com/en/comps/9/2023-2024/shooting/2023-2024-Premier-League-Stats"

# Fetch the webpage
response = requests.get(url)
tables = pd.read_html(response.content, attrs={'id':"stats_shooting"})

# Assuming there's only one table (check 'tables' length if needed)
print(len(tables))
df = tables[0]

# Process the DataFrame (clean, transform data)
# ...

print(df.head())  # Displ

1
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard            \
               Squad               # Pl                90s      Gls   Sh  SoT
0            Arsenal                 25               38.0       86  647  209
1        Aston Villa                 31               38.0       72  511  182
2        Bournemouth                 30               38.0       52  539  175
3          Brentford                 28               38.0       54  470  159
4           Brighton                 30               38.0       50  555  198

                                                      Expected                \
   SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist  FK  PK PKatt       xG  npxG npxG/Sh
0  32.3  17.03   5.50  0.12  0.36  15.8   6  10    10     76.1  68.5    0.11
1  35.6  13.45   4.79  0.13  0.37  16.0  15   4     4     63.3  60.3    0.12
2  32.5  14.18   4.61  0.09  0.29  16.7  18   2     3     55.9  53.6    0.10
3  33.8  12.37   4.18  0.11  0.32  15.6  17   3     3     58.2  56.0    0.12
4  35.7  14.61   5.21  0.08  0.23  16.7  11   5     6     56.8  52.2    0.10


  G-xG np:G-xG
0  9.9     7.5
1  8.7     7.7
2 -3.9    -3.6
3 -4.2    -5.0
4 -6.8    -7.2

In [25]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

# Initialize WebDriver
driver = webdriver.Chrome()

# Load the URL
url = "https://fbref.com/en/comps/9/2023-2024/shooting/2023-2024-Premier-League-Stats"
driver.get(url)

try:
    # Wait for table rows to ensure the data is fully loaded
    WebDriverWait(driver, 200).until(
        EC.presence_of_all_elements_located((By.XPATH, "//table[@id='stats_shooting']//tbody/tr"))
    )

    # Locate the table and get the outer HTML
    table_element = driver.find_element(By.ID, "stats_shooting")
    table_html = table_element.get_attribute('outerHTML')

    # Parse the table with panda
    df = pd.read_html(table_html)[0]
    print(df)

except Exception as e:
    print(f"Error: {e}")

finally:
    # Close the browser
    driver.quit()

C:\Users\user\AppData\Local\Temp\ipykernel_10732\4183894373.py:25: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(table_html)[0]

    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1           Max Aarons            eng ENG
1                    2    Joshua Acheampong            eng ENG
2                    3          Tyler Adams             us USA
3                    4     Tosin Adarabioyo            eng ENG
4                    5       Elijah Adebayo            eng ENG
..                 ...                  ...                ...
598                576       Nicolò Zaniolo             it ITA
599                577        Anass Zaroury             ma MAR
600                578  Oleksandr Zinchenko             ua UKR
601                579           Kurt Zouma             fr FRA
602                580      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF        Bournemouth                 23
1                   DF            Chelsea                 17
2                   MF        Bournemouth                 24
3                   DF             Fulham                 25
4                   FW         Luton Town                 25
..                 ...                ...                ...
598              FW,MF        Aston Villa                 24
599              FW,MF            Burnley                 22
600                 DF            Arsenal                 26
601                 DF           West Ham                 28
602                 MF            Arsenal                 24

    Unnamed: 6_level_0 Unnamed: 7_level_0 Standard      ...                    \
                  Born                90s      Gls  Sh  ...  Dist FK PK PKatt
0                 2000               13.7        0   2  ...  23.9  0  0     0
1                 2006                0.1        0   0  ...   NaN  0  0     0
2                 1999                1.3        0   0  ...   NaN  0  0     0
3                 1997               18.0        2  14  ...  14.2  0  0     0
4                 1998               15.8       10  31  ...   9.6  0  0     0
..                 ...                ...      ...  ..  ...   ... .. ..   ...
598               1999                9.3        2  27  ...  14.0  0  0     0
599               2000                1.7        0   3  ...  20.9  0  0     0
600               1996               19.1        1  17  ...  24.0  0  0     0
601               1994               31.5        3  16  ...   9.1  0  0     0
602               1998               34.3        8  75  ...  20.2  4  2     2

    Expected                            Unnamed: 25_level_0
          xG npxG npxG/Sh  G-xG np:G-xG             Matches
0        0.0  0.0    0.02   0.0     0.0             Matches
1        0.0  0.0     NaN   0.0     0.0             Matches
2        0.0  0.0     NaN   0.0     0.0             Matches
3        0.7  0.7    0.05  +1.3    +1.3             Matches
4        5.9  5.9    0.19  +4.1    +4.1             Matches
..       ...  ...     ...   ...     ...                 ...
598      2.6  2.6    0.09  -0.6    -0.6             Matches
599      0.2  0.2    0.06  -0.2    -0.2             Matches
600      0.6  0.6    0.03  +0.4    +0.4             Matches
601      1.8  1.8    0.12  +1.2    +1.2             Matches
602      7.4  5.8    0.08  +0.6    +0.2             Matches

[603 rows x 26 columns]

In [27]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk             Player             Nation                Pos
0                  1         Max Aarons            eng ENG                 DF
1                  2  Joshua Acheampong            eng ENG                 DF
2                  3        Tyler Adams             us USA                 MF
3                  4   Tosin Adarabioyo            eng ENG                 DF
4                  5     Elijah Adebayo            eng ENG                 FW

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Unnamed: 7_level_0  \
               Squad                Age               Born                90s
0        Bournemouth                 23               2000               13.7
1            Chelsea                 17               2006                0.1
2        Bournemouth                 24               1999                1.3
3             Fulham                 25               1997               18.0
4         Luton Town                 25               1998               15.8

  Standard      ...                   Expected                             \
       Gls  Sh  ...  Dist FK PK PKatt       xG npxG npxG/Sh  G-xG np:G-xG
0        0   2  ...  23.9  0  0     0      0.0  0.0    0.02   0.0     0.0
1        0   0  ...   NaN  0  0     0      0.0  0.0     NaN   0.0     0.0
2        0   0  ...   NaN  0  0     0      0.0  0.0     NaN   0.0     0.0
3        2  14  ...  14.2  0  0     0      0.7  0.7    0.05  +1.3    +1.3
4       10  31  ...   9.6  0  0     0      5.9  5.9    0.19  +4.1    +4.1

  Unnamed: 25_level_0
              Matches
0             Matches
1             Matches
2             Matches
3             Matches
4             Matches

[5 rows x 26 columns]

In [33]:
df.to_csv("top5leagues.csv",index=False)

In [35]:
df.to_excel("exceltop5leagues.xlsx",index=False,engine="openpyxl")

NotImplementedError: Writing to Excel with MultiIndex columns and no index ('index'=False) is not yet implemented.